#afui .header header#defaultHeader {
  display: none !important;
}
#afui .header header > h1 {
  text-align: center !important;
}
#afui .header header > .header-left {
  float: left;
}
#afui .header header > .header-right {
  float: right;
}
#afui .header header > .single-centered {
  position: absolute;
  width: 100%;
  text-align: center;
}
#afui .header header > .single-centered > * {
  z-index: 1;
  margin-left: auto !important;
  margin-right: auto !important;
}
#afui .header header > .with-back > :not(.backButton) {
  display: none;
}
#afui .header header > .widget-container {
  height: 100%;
}
#afui .header header.with-back > .header-left {
  display: none;
}
#afui .with-label label.narrow-control {
  float: none;
}
#afui .with-label label.narrow-control + * {
  display: block;
  width: 100% !important;
  margin-bottom: 0 !important;
}
#afui .with-label label.narrow-control:empty {
  display: none;
}
#afui .with-label .label-inline {
  width: 30%;
  vertical-align: middle;
}
#afui .with-label .label-top-left,
#afui .with-label .label-top-right {
  width: auto !important;
  display: block;
  padding: 8px 4px 4px;
}
#afui .with-label .label-top-left {
  text-align: left !important;
}
#afui .with-label .label-top-right {
  text-align: right !important;
}
@media all {
  #afui .wrapping-col > .d-margins,
  #afui .wrapping-col > .afScrollPanel > .d-margins {
    margin-left: 4px;
    margin-right: 5px;
  }
  #afui .wrapping-col > .d-margins,
  #afui .wrapping-col > .afScrollPanel > .d-margins {
    margin-left: 4px;
    margin-right: 5px;
  }
  #afui .d-margins {
    margin-top: 5px;
    margin-bottom: 6px;
  }
}
#afui .button-grouped,
#afui .button-grouped > .d-margins {
  margin: 0;
}
